################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ClientApp/.vs
/ClientApp/BLEBW.ServiceInterfaces/bin
/ClientApp/BLEBW.ServiceInterfaces/obj
/ClientApp/BLEBW.Services/bin
/ClientApp/BLEBW.Services/obj
/ClientApp/BLEBW.ViewModelInterfaces/bin
/ClientApp/BLEBW.ViewModelInterfaces/obj
/ClientApp/BLEBW.ViewModels/bin
/ClientApp/BLEBW.ViewModels/obj
/ClientApp/BLEBW.Views/bin
/ClientApp/BLEBW.Views/obj
/ClientApp/BLEBW.ViewInterfaces/obj
/ClientApp/BLEBW.ViewInterfaces/bin
/ClientApp/BluetoothLEBlobWriteIssueClientApp.iOS/bin
/ClientApp/BluetoothLEBlobWriteIssueClientApp.iOS/obj
/ServerApp/.vs
/ServerApp/BLEBWS.ServiceInterfaces/bin
/ServerApp/BLEBWS.ServiceInterfaces/obj
/ServerApp/BLEBWS.Services/bin
/ServerApp/BLEBWS.Services/obj
/ServerApp/BLEBWS.ViewInterfaces/bin
/ServerApp/BLEBWS.ViewInterfaces/obj
/ServerApp/BLEBWS.ViewModelInterfaces/bin
/ServerApp/BLEBWS.ViewModelInterfaces/obj
/ServerApp/BLEBWS.ViewModels/bin
/ServerApp/BLEBWS.ViewModels/obj
/ServerApp/BLEBWS.Views/bin
/ServerApp/BLEBWS.Views/obj
/ServerApp/BluetoothLEBlobWriteIssueServerApp/bin
/ServerApp/BluetoothLEBlobWriteIssueServerApp/obj
/ServerApp/BluetoothLEBlobWriteIssueServerApp.Android/bin
/ServerApp/BluetoothLEBlobWriteIssueServerApp.Android/obj
/Shared/BLEBW.Models/bin
/Shared/BLEBW.Models/obj
/Shared/Framework.Forms/bin
/Shared/Framework.Forms/obj
/Shared/Framework.Helpers/bin
/Shared/Framework.Helpers/obj
/Shared/Framework.VMUtilities/bin
/Shared/Framework.VMUtilities/obj
/Shared/FrameworkInterfaces/bin
/Shared/FrameworkInterfaces/obj
/Shared/UnityDIFacade/bin
/Shared/UnityDIFacade/obj
